<div class="center"><c-carousel [interval]="0">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
                <img alt="{{slide.title}}" class="d-block w-100" loading="lazy" src="{{slide.src}}" />
                <c-carousel-caption class="d-none d-md-block">
                    <a href="{{slide.href}}" target="_blank" class="redirect-button">{{slide.title}}</a>
                </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] direction="next"></c-carousel-control>
    </c-carousel>
</div>