.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 20px;
}

.typing-container {
    color: white;
    display: inline-block;
    font-size: 50px;
}

.cursor {
    display: inline-block;
    width: 2px;
    animation: blink 0.7s step-end infinite;
}

.name {
    display: inline-block;
    color: #57A6A1;
    font-size: 50px;
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.personal-data {
    display: flex;
    flex-direction: row;
}

.personal-data p {
    padding: 0;
}

.personal-data a {
    padding: 0;
}

.location-icon {
    height: 30px;
    width: auto;
    padding-top: 20px;
    padding-right: 3px;
}

.phone-icon {
    height: 25px;
    width: auto;
    padding-top: 10px;
    padding-right: 3px;

}

.aboutme-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutme-content p {
    width: 50%;
    margin-right: 20px;
    border-radius: 20px;
    height: auto;
}


.aboutme-content img {
    width: 50%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    margin-right: 200px;
}

.section {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    height: 200vh;
}

.section p {
    margin-left: 100px;
    font-size: 20px;
    width: 80%;
    text-align: justify;
}

.section-header {
    display: flex;
    align-items: center;
    font-size: 30px;
}

#education {
    height: 500px;
}

#projects {
    height: 500px;
}

.horizontal-line {
    width: 80%;
    height: 2px;
    background-color: #57A6A1;
    margin-left: 10px;
    margin-top: 1px;
}

.right-content-div {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    width: 80%;

}

.enum-description {
    text-align: justify;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.enum-description.visible {
    opacity: 1;
}

.row-enum {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row-enum button {
    border: 1px;
    background-color: transparent;
    font-family: "NTR", sans-serif;
    font-size: 20px;
    color: white;
    min-width: 100px;
    width: auto;
    transition: color 0.3s;
}


.row-enum button:hover {
    color: #5c6e6e;
    cursor: pointer;

}

.row-enum button.active {
    border-right: 2px solid #57A6A1;
}