<div class="wrapper">
    <img class="avatar"
        src="https://media.licdn.com/dms/image/v2/D4D03AQENicJGLwPj1A/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1700989631762?e=1734566400&v=beta&t=KWdw_Ul42novV73gfWCYEgrWB2yFc_bNk_JoEqnvtt0">
    <div class="typing-container">
        <span class="typed-text">{{ displayText }}</span>
        <span class="name">{{ displayedName }}</span>
        <span class="typed-text">{{ displayedDot }}</span>
        <span class="cursor">|</span>
    </div>
</div>

<div class="section-header">
    <section>about me</section>
    <span class="line"></span>
</div>


<div class="section-header">
    <section>experience</section>
    <span class="line"></span>
</div>