<div class="wrapper">
    <img class="avatar"
        src="https://media.licdn.com/dms/image/v2/D4D03AQENicJGLwPj1A/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1700989631762?e=1734566400&v=beta&t=KWdw_Ul42novV73gfWCYEgrWB2yFc_bNk_JoEqnvtt0">
    <div class="typing-container">
        <span class="typed-text">{{ displayText }}</span>
        <span class="name">{{ displayedName }}</span>
        <span class="typed-text">{{ displayedDot }}</span>
        <span class="cursor">|</span>
    </div>
    <div class="personal-data">
        <ng-icon class="location-icon" name="heroMapPin"></ng-icon>
        <p>&nbsp;</p>
        <p style="font-size: 20px;">Cluj-Napoca, Romania</p>
    </div>
    <div class="personal-data">
        <ng-icon class="phone-icon" name="heroPhone"></ng-icon>
        <p>&nbsp;&nbsp;</p>
        <p style="font-size: 20px;">0753803272</p>
    </div>
</div>

<div id="about" class="section">
    <div class="section-header">
        <section>about me</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="aboutme-content">
        <p>I'm organized, ambitious and optimistic in my daily life. I'm a problem solver, a team worker and a fast
            learner.
            I am focused to develop my professional skills, as well as my personal abilities.</p>
        <img src="assets/pic-me2.JPG">
    </div>
</div>

<div id="experience" class="section">
    <div class="section-header">
        <section>experience</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="experience-content">
        <div class="companies">
            <button class="company-button" [ngClass]="{'active': selectedDescription === 0}"
                (click)="changeDescription(0)">Accenture</button>
            <button class="company-button" [ngClass]="{'active': selectedDescription === 1}"
                (click)="changeDescription(1)">Endava</button>
        </div>
        <p class="experience-description" [ngClass]="{'visible': descriptionVisible}">
            {{ displayedDescription }}
        </p>
    </div>
</div>

<div id="education" class="section">
    <div class="section-header">
        <section>education</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="experience-content">
        <div class="companies">
            <button class="company-button" [ngClass]="{'active': selectedEducation === 0}"
                (click)="changeEducation(0)">University</button>
            <button class="company-button" [ngClass]="{'active': selectedEducation === 1}"
                (click)="changeEducation(1)">High school</button>
        </div>
        <p class="experience-description" [ngClass]="{'visible': educationVisible}">
            {{ displayedEducation }}
        </p>
    </div>

</div>

<div id="projects" class="section">
    <div class="section-header">
        <section>projects</section>
        <span class="horizontal-line"></span>
    </div>
    <div>
        <p>Projects</p>
    </div>
</div>