.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.toolbar-left {
    display: flex;
}

.toolbar-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "NTR", sans-serif;
    text-decoration: none;
}

.toolbar-button:hover {
    color: #3f6666;
}

.toolbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}


.icon {
    padding-top: 10px;
    width: 24px;
    height: 24px;
    color: white;
}

/* SWITHCER */

.theme-switcher {

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: var(--current-theme);
            border: #000000;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.slider {
        background-color: rgb(0, 0, 0);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px rgb(0, 0, 0);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}