.toolbar {
    display: flex;
    justify-content: space-between;
    /* Aligns items to the left and right */
    align-items: center;
    /* Vertically centers items */
    padding: 10px 20px;
    /* Spacing around the toolbar */
    background-color: transparent;
    /* Background color of the toolbar */
    position: fixed;
    /* Keeps the toolbar fixed at the top */
    top: 0;
    /* Positions it at the top of the page */
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    z-index: 1000;
    /* Ensures the toolbar is above other elements */
}

.toolbar-left {
    display: flex;
    /* Aligns buttons in a row */
}

.toolbar-button {
    background: transparent;
    border: none;
    color: #57A6A1;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.toolbar-button:hover {
    color: #2E4B4B;
    /* Darker color on hover */
}

.toolbar-right {
    display: flex;
    /* Aligns icons in a row */
    align-items: center;
    /* Centers icons vertically */
}

.icon-link {
    margin-left: 15px;
    /* Space between icons */
}

.icon {
    width: 24px;
    /* Icon width */
    height: 24px;
    color: white;
    /* Icon height */
}