<div class="wrapper">
    <img class="avatar" src="assets/profile-pic.jpeg">
    <div class="typing-container">
        <span>{{ displayText }}</span>
        <span class="name">{{ displayedName }}</span>
        <span>{{ displayedDot }}</span>
        <span class="cursor">|</span>
    </div>
    <div class="personal-data">
        <ng-icon class="location-icon" name="heroMapPin"></ng-icon>
        <p>Cluj-Napoca, Romania / Zalau, Romania</p>
    </div>
    <div class="personal-data">
        <ng-icon class="phone-icon" name="heroPhone"></ng-icon>

        <a href="tel:+40753803272">0753803272</a>
    </div>
</div>

<div id="about" class="section">
    <div class="section-header">
        <section>about me</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="aboutme-content">
        <p>I’m an optimistic and ambitious individual who loves solving problems and working as part of a team. I’m
            always eager to learn new things and develop both my professional skills and personal abilities. In my free
            time, I enjoy hiking to explore the outdoors and spending quality time with animals, as I’m an avid animal
            lover.</p>
        <img src="assets/pic-me.JPG">
    </div>
</div>

<div id="experience" class="section">
    <div class="section-header">
        <section>experience</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="right-content-div">
        <div class="row-enum">
            <button [ngClass]="{'active': selectedDescription === 0}" (click)="changeDescription(0)">Accenture</button>
            <button [ngClass]="{'active': selectedDescription === 1}" (click)="changeDescription(1)">Endava</button>
        </div>
        <div class="enum-description" [ngClass]="{'visible': descriptionVisible}">
            {{ displayedDescription }}
        </div>
    </div>
    <div class="right-content-div exposed">
        <span>Exposed to</span>
        <ul [ngClass]="{ 'visible': technologiesVisible }" class="technologies enum-description">
            <li *ngFor="let tech of displayedTechnologies">
                <span style="color: #57A6A1;">&#9654;</span> {{ tech }}
            </li>
        </ul>
    </div>
</div>

<div id="education" class="section">
    <div class="section-header">
        <section>education</section>
        <span class="horizontal-line"></span>
    </div>
    <div class="right-content-div">
        <div class="row-enum">
            <button class="row-enum-button" [ngClass]="{'active': selectedEducation === 0}"
                (click)="changeEducation(0)">University</button>
            <button class="row-enum-button" [ngClass]="{'active': selectedEducation === 1}"
                (click)="changeEducation(1)">High school</button>
        </div>
        <p class="enum-description" [ngClass]="{'visible': educationVisible}" [innerHTML]="displayedEducation">
        </p>
    </div>
</div>

<div id="projects" class="section">
    <div class="section-header">
        <section>projects</section>
        <span class="horizontal-line"></span>
    </div>
    <div>
        <p>Throughout my studies, I had the opportunity to develop multiple projects.</p>
        <app-experience-card></app-experience-card>

    </div>
</div>