body {
    background-color: #282c34;
    color: white;
    margin: 0;
    font-family: "NTR", sans-serif;
}

body.light-theme {
    --primary-color: #22177A;
    --secondary-color: #605EA1;
    --third-color: #8EA3A6;
    --bck-color: #E6E9AF;

    background-color: var(--bck-color);
    color: var(--third-color);
    margin: 0;
    font-family: "NTR", sans-serif;
}

body.light-theme .toolbar {
    background-color: var(--bck-color);
}

body.light-theme .toolbar-button,
body.light-theme .typing-container,
body.light-theme .section-header {
    color: var(--primary-color);
}

body.light-theme .horizontal-line {
    background-color: var(--secondary-color);
}

body.light-theme .row-enum button {
    color: var(--primary-color) !important;
}

body.light-theme .row-enum button:hover {
    color: #7FA1C3 !important;
}

body.light-theme .icon {
    color: black;
}


html {
    scroll-behavior: smooth;
}