:root {
    --bck-color: #282c34;
    --highlight-color: #57A6A1;

    --light-bck-color: #FDF6E3;
    --primary-color: #3C2F2F;
    --secondary-color: #E89D67;
    --third-color: #3C2F2F !important;

    --current-theme: var(--bck-color);
}

body {

    background-color: var(--bck-color);
    color: white;
    margin: 0;
    font-family: "NTR", sans-serif;
}

body.light-theme {
    background-color: var(--light-bck-color);
    --current-theme: var(--light-bck-color);
    color: var(--third-color) !important;
    margin: 0;
    font-family: "NTR", sans-serif;
}

body.light-theme .toolbar {
    background-color: var(--light-bck-color);
}

body.light-theme .toolbar-button,
body.light-theme .typing-container,
body.light-theme .section-header {
    color: var(--primary-color);
}

body.light-theme .horizontal-line {
    background-color: var(--secondary-color);
}


body.light-theme .row-enum button {
    color: var(--primary-color) !important;
}

body.light-theme .row-enum button:hover {
    color: #7FA1C3 !important;
}

body.light-theme .icon {
    color: black;
}

body.light-theme .redirect-button {
    background-color: var(--primary-color);
}

body.light-theme .carousel-indicators [data-coreui-target] {
    background-color: var(--primary-color);
}



html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

body.light-theme a {
    color: var(--third-color);
    text-decoration: none;
}

body.light-theme .redirect-button {
    color: var(--secondary-color);
}


p {
    font-size: 20px;
}

span {
    font-size: 20px;
}